


/*******************************
           NAVBAR
*******************************/
.navbar{
    background-color: #2c3e50;
}



.verde-acqua{
    background-color: #1abc9c;
}

.ridimensionamento-img{
    width: 70%;
}